---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
As a lifelong learner, I thrive on acquiring new skills and staying ahead of the curve in a rapidly evolving world. My insatiable curiosity has led me to explore various fields, including technology, arts, and entrepreneurship. This diverse background has granted me a unique perspective and the ability to approach problems creatively and analytically.

In the realm of technology, 
<br/>
<br/>
I am an avid problem solver and a proficient Full Stack Developer. Equipped with a strong foundation in web development, I revel in crafting elegant and efficient solutions that bring ideas to life on the digital canvas. I have experience working with cutting-edge technologies, collaborating with cross-functional teams, and delivering high-impact projects that resonate with end-users.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Hack Reactor"
      subtitle="2022 to 2023, Remote"
    />
    <TimeLineElement
      title="Kingsborough Community College"
      subtitle="2019 to 2021 at  Brooklyn, USA"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Engineering Immersive Resident | Galvanize Inc"
      subtitle="From April 2023 to Currently Working"
    >
      ◉ Actively mentoring and guiding students through a 19-week coding boot camp on full-stack web development.
      <br>
      ◉ Provided assistance with debugging,and resolving technical issues faced by students during project development.
      <br>
      ◉ Supported students in designing and implementing full-stack web applications using modern technologies such as React, and databases like MongoDB or PostgreSQL.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://drive.google.com/file/d/1jQ-xr1o18uQHqsTC8apFDNE3MEHy6Obs/view" target="_blank"> <u>Advanced Software Engineering with Hack Reactor </u></a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <div class="mb-4">
    <h2 class="text-md font-bold">Front-End</h2>
    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>JavaScript</li>
        <li>Next.js</li>
        <li>React</li>
        <li>React Redux</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>TailwindCSS</li>
    </ul>
</div>
<div class="mb-4">
    <h2 class="text-md font-bold">Back-End</h2>
    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Node.js</li>
        <li>FastAPI</li>
        <li>Django</li>
        <li>RESTful API</li>
        <li>PostgreSQL</li>
        <li>MongoDB</li>
    </ul>
</div>
<div class="mb-4">
    <h2 class="text-md font-bold">Testing/Deployment</h2>
    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Docker</li>
        <li>CI/CD</li>
    </ul>
</div>
<div class="mb-4">
    <h2 class="text-md font-bold">Developer Tools</h2>
    <ul class="list-disc md:columns-5 columns-2 mx-6">
        <li>Git</li>
        <li>Npm</li>
        <li>Webpack</li>
        <li>Babel</li>
        <li>Agile Methodology</li>
    </ul>
</div>
</BaseLayout>
