---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Christian Wu</div>
    <div class="text-3xl py-3 font-bold">Software Engineer and Full Stack Developer</div>
    <div class="py-2">
      <text class="text-lg">
I am a passionate and versatile Full Stack Developer, dedicated to crafting innovative and seamless digital experiences. With a keen eye for detail and a love for problem-solving, I thrive on turning complex challenges into elegant solutions.

      </text>
    </div>
    <div class="mt-8  ">
      <a class="btn bg-blue-500 text-white" href="https://github.com/Chris5613" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My latest projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="RankRiddler"
    img="/rank.jpg"
    desc="RankRiddler is an exciting web-based game that puts your gaming instincts to the ultimate test. In this captivating and immersive experience, you'll encounter profiles of diverse gamers from various gaming realms, each with their unique skills and achievements. Your mission is to decipher their ranks based on their profiles, stats, and gameplay journey. "
    url="https://www.rankriddler.com/"
    badge="NEW"
    github = "Github"
    github_url="https://github.com/Chris5613/RankRiddler"
  />
  <div class="divider my-0"></div>
    <HorizontalCard
    title="Gamerconnect"
    img="/gamer.png"
    desc="GamerConnect, the ultimate social media platform designed exclusively for gamers by gamers. Step into a virtual haven that celebrates the gaming community, where like-minded enthusiasts unite, forge friendships, and share their passion for the digital universe.Connect with fellow gamers from all corners of the globe and explore a world of gaming camaraderie."
    url="https://gamerconnect.gitlab.io/module3-project-gamma/"
    github = "Github"
    github_url="https://github.com/Chris5613/Gamerconnect "
  />
</BaseLayout>
